.photos{
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
body{
    padding: 0!important;
    margin: 0!important;
    overflow-x: hidden;
}
.sizeOfCoffee{
    width:400px;
    height: 250px;
}
#arrow{
    border-radius: 30px;
}
.photos{
    display: flex;
}
.text{
    padding-left: 30px;
    padding:0 0 0 10px;
  
}
.color{
    background-color: rgb(12, 158, 14);
    color:#ffffff;
    border-radius:40px;
    width:40%;
    padding-left: 10px;
    margin:20px 0px 20px 0px;
}
.yellow{
    color:#FFDC4E;
    padding-top: 10px;
    
}
.part{
    text-align: center;
    word-wrap: break-word;
   width: 120px;
    background-color:#339999;
   
    margin: 0px 5px 5px 5px;
  color:aliceblue;
}

.blue{
    margin:20px 0px 20px 0px;
    display: flex;
    flex-direction: row;
}
.blue div{
    margin:20px 10px 20px 0px;
}
.arrow{
    color:#339999;
}
.all_items{
    display: flex;
    flex-direction: column;
}

 /* .video-bg {
    width: 100%!important;
} */

.video-bg {
    height: 100vh;
    width: 108.8%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: -124px;
    margin-top: -33px;
}
.video-bg img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.effects {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
}
.video-bg__content {
    z-index: 2;
    color: #ffffff;
    font-size: 50px;
}

@media screen and (max-width: 1100px) {
    .video-bg {
        width: 100%;
    }

    .containerr {
        width: 100%;
    }
}

@media screen and (max-width: 1400px) {
    .video-bg {
        width: 108.8vw;
    }
}

@media screen and (max-width: 1060px) {
    .video-bg {
        width: 112.1vw;
    }
}

@media screen and (max-width: 768px){
    .video-bg img {
        height: 100vh!important;
    }
    .video-bg {
        margin-left: 0;
        width: 100%;
    }

    .photos{
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 450px) {
    .blue {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .header__user,
    .newbook_item-rateing,
    .header__user,
    .sizeOfCoffee {
        padding-left: 10px;
    }
    .color{
        margin-left: 10px;
        display: inline-block;
        padding: 10px;
    }

    .text hr {
        width: 100%!important;
    }
}