.coffeeMap{
    display: flex;
}
.sizeOfCoffee{
    width:400px;
    height: 250px;
}
#arrow{
    border-radius: 30px;
}
.photos{
    display: flex;
}
.text{
    padding-left: 30px;
    padding:10px 0px 30px 10px;
  
}
.color{
    background-color: rgb(12, 158, 14);
    color:#ffffff;
    border-radius:40px;
    width:40%;
    padding-left: 10px;
    margin:20px 0px 20px 0px;
}
.yellow{
    color:#FFDC4E;
    padding-top: 10px;
    
}
.part{
    text-align: center;
    word-wrap: break-word;
   width: 120px;
    background-color:#339999;
   
    margin: 0px 5px 5px 5px;
  color:aliceblue;
}

.blue{
    margin:20px 0px 20px 0px;
    display: flex;
    flex-direction: row;
}
.blue div{
    margin:20px 10px 20px 0px;
}
.arrow{
    color:#339999;
}
.all{
    display: flex;
    flex-direction: column;
}