@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
}
.video-bg {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.video-bg video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.effects {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
}
.video-bg__content {
    z-index: 2;
    color: #ffffff;
    font-size: 50px;
}
.main {
    max-width: 1600px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 0 20px;
}
.black{
    color: rgba(255, 255, 255, 0.693);
}
.course{
    display: flex;
    width: 90%;
    margin: 0px 30px 0px 70px;
}
.courseText{
    width:30%;
}
.hrp{
    background-color: #339999;
   width: 1px;
   height: 120px;
    margin:10px 20px 0px 20px;
   
   
}
A{
    color:#000000 ;
    
}
A:visited{
    color:#339999;

}
